[MASTER]
ignore=CVS
jobs=1
persistent=yes
suggestion-mode=yes
unsafe-load-any-extension=no

[MESSAGES CONTROL]
disable=C0111,C0103,R0903,R0913,W0212,C0330,C0326

[REPORTS]
output-format=text
reports=no
score=yes

[BASIC]
good-names=i,j,k,ex,Run,_,id,db,pk
bad-names=foo,bar,baz,toto,tutu,tata
include-naming-hint=no

[FORMAT]
indent-string='    '
max-line-length=120
max-module-lines=1000
single-line-class-stmt=no
single-line-if-stmt=no

[DESIGN]
max-args=7
max-attributes=10
max-bool-expr=5
max-branches=15
max-locals=20
max-parents=7
max-public-methods=25
max-returns=8
max-statements=60
min-public-methods=1

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no
min-similarity-lines=4

[TYPECHECK]
ignored-classes=optparse.Values,thread._local,_thread._local,SQLObject,scoped_session,Session

[IMPORTS]
allow-wildcard-with-all=no
analyse-fallback-blocks=no
deprecated-modules=optparse,tkinter.tix

[CLASSES]
defining-attr-methods=__init__,__new__,setUp,__post_init__
exclude-protected=_asdict,_fields,_replace,_source,_make
valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=mcs

[EXCEPTIONS]
overgeneral-exceptions=BaseException,Exception
